/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #9aa5af 0%, #3e95d7 100%);
    color: #333;
    justify-content: center;
    align-items: center;
}

/* Header */

header {
    width: 100%;
    background: linear-gradient(90deg, #0d3559, #0078d4, #00b4d8);
    color: white;
    padding: 1px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

header .branding {
    display: flex;
    align-items: center;
}

header .logo {
    width: 60px;
    margin-right: 10px;
}

header h1 {
    font-size: 20px;
}


/* Login Card */

.login-container {
    width: 340px;
    padding: 30px;
    margin-top: 80px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.15);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0036d7;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="text"] {
    width: 100%;
    padding: 10px 38px 10px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
    user-select: none;
}

.toggle-password:hover {
    color: #0036d7;
}

.error-message {
    color: #d8000c;
    margin: 6px 0 12px 0;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    display: none;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #0036d7e4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    background: #005fa3;
}

.login-container button:disabled {
    background: #888;
    cursor: not-allowed;
}


/* Password criteria */

#passwordCriteria {
    list-style: none;
    padding: 0;
    margin: 10px 0 15px 0;
    font-size: 14px;
}

#passwordCriteria li {
    margin: 4px 0;
}

#passwordCriteria li.valid {
    color: green;
}

#passwordCriteria li.invalid {
    color: red;
}

.forgot {
  text-align: right;
  margin: 8px 0 12px 0;
}

.forgot a {
  font-size: 14px;
  color: #0036d7;
  text-decoration: none;
  transition: 0.3s;
}

.forgot a:hover {
  text-decoration: underline;
  color: #005fa3;
}

/* Footer */

footer {
    background: linear-gradient(90deg, #0d3559, #0078d4, #00b4d8);
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}